@import "tailwindcss";

:root {
  --primary-color: #EAFAEA; /* Replace with your desired color */
  --secondary-color: #6E8E59; /* Replace with your desired color */
  --tertiary-color: #33372C; 
  --taskbox :#CAE0BC;/* Replace with your desired color */
  --font-sans: Arial, Helvetica, sans-serif;
  --font-lateef: "Lateef", cursive;
}

body {
  font-family: var(--font-lateef);
}
